
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
 
}



.ion-page {
  background: url('/src/theme/wall.png') ;
}

li {
  list-style-type: none;
}

.berk {
  font-family: 'Berkshire Swash', cursive;
}


